*{
    padding: 0;
    margin: 0;
    background: #62374e;
}

div{
    background: #fdc57b;
    height: 120px;
    width: 120px;
}

#forma1{
    margin-top: 30px;
    margin-left: 210px;
}

#forma2{
    margin-top: 240px;
    margin-left: 210px;
}

#forma3{
    margin-top: -480px;
    margin-left: 950px;
}

#forma4{
    margin-top: 240px;
    margin-left: 950px;
}